/* googgle font */
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400;1,700&display=swap');
/* root */
:root{
    --blackcolor: #000000;
    --whitecolor: #ffffff;
    --primarycolor: #3d013d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Pontano Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}
/* Navbar */
.top-nav{
    background: radial-gradient(rgb(0,0,0,.2),rgb(0,0,0,.2)),url('../img/top_b.png');
}
.botton_nav{
    display: flex;
    justify-content: space-between;
    padding: 0.9rem 5rem;
    align-items: center;
    width: 100%;
}
.left-nav{
    display: flex;
}
.logo{
    color: var(--blackcolor);
    font-size: 1.5rem;
    font-weight: 700;
}
.logo span{
    color: var(--primarycolor);
}
ul{
    transition: .9s ease-in-out;
}
ul li{
    display: inline-block; 
    font-size: 1rem;
}
.cart-icon{
    padding: .5rem;
    background-color: var(--primarycolor);
    font-size: 1.9rem;
    border-radius: 10px;
}
.icon-bar{
    display: none;
    background-color: var(--whitecolor);
    padding: .5rem;
    margin-left: 1rem;
    font-size: 1.8rem;
    border-radius: 10px;
    border: 1px solid #0000006c;
}
@media (max-width: 722px) {
    ul li{
        display: block; 
    }
    ul{
        position: fixed;
        min-width: 100%;
        height: 0%;
        background-color: #282831;
        top: 90px;
        left: 0;
        right: 0;
        background: var(--whitecolor);
        text-align: center;
        z-index: 99;
    }
    ul li{
        margin-top: 3.5rem;
    }
    .icon-bar{
        display: block;
    }
    ul.clicknav{
        height: 55%;
    }
    .top-nav{
        display: none;
    }
}
/* ----------------- Home ------------------- */
.home-header{
    width: 100%;
    height: 90vh;
    background: radial-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4)),url('../img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-header div h1{
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    letter-spacing: .8rem;
}
@media (max-width: 898px) {
    .home-header div h1{
        font-size: 2.5rem;
        letter-spacing: .4rem;
    }
}
@media (max-width: 534px) {
    .home-header div h1{
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: .4rem;
    }
}

.container-content-home{
    width: 75%;
    max-height: 100vh;
    margin: auto;
}
.row-content-home{
    grid-template-columns: repeat(2, 1fr);
}
.container-content-home .row-content-home .item-contet-home img{
    width: 400px;
}
.item-contet-home h1{
    font-size: 3rem;
    font-weight: 700;
}
@media (max-width: 895px) {
    .container-content-home{
        width: 95%;
    }
}
@media (max-width: 733px) {
    .row-content-home{
        grid-template-columns: repeat(1, 1fr);
    }
    .item-contet-home h1, .item-contet-home p{
        text-align: center;
    }

}
@media (max-width: 555px) {
    .item-contet-home h1{
        font-size: 2rem;

    }
}

.offer-content-home{
    width: 75%;
}
.title-offer-content h1{
    font-size: 3rem;
}
.row-offer-content{
    grid-template-columns: repeat(3, 1fr);
}
.icon-offer-content{
    font-size: 5rem;
    width: 90px;
    border-radius: 100px;
    padding: .9rem;
}
.text-offer-content h3{
    font-size: 1.3rem;
}
@media (max-width: 1169px) {
    .offer-content-home{
        width: 95%;
    }
}
@media (max-width: 923px) {
    .row-offer-content{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 627px) {
    .row-offer-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .offer-content-home{
        width: 85%;
    }
    .text-offer-content p{
        text-align: center;
    }
}
.container-cta-content-home{
    width: 95%;
}
.row-cta-content{
    grid-template-columns: repeat(2, 1fr); 
}
.item-cta-content-img{
    width: 100%;
    min-height: 70vh;
    background: radial-gradient(rgb(0,0,0,.1),rgb(0,0,0,.1)),url('../img/computer.jpg');
    background-position: center;
    background-size: cover;
}
.item-cta-content{
    width: 100%;
    min-height: 70vh;
    background-color: var(--primarycolor);
}

.item-cta-content .item-grid h1{
    font-size: 3.5rem;
    font-weight: 1000;

}
@media (max-width: 877px) {
    .row-cta-content{
        grid-template-columns: repeat(1, 1fr); 
    }
}

/* ------------ ALL Header ------------ */
.all-header{
    max-width: 100%;
    height: 40vh;
    background: radial-gradient(rgba(0, 0, 0, 0.1),rgb(0,0,0,.1)),url('../img/header.jpg');
    background-size: cover;
}
.content-all-header h1{
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    letter-spacing: .8rem;
}


/* ------------------Shop menu -------------------- */
.product_menu_container{
    width: 85%;
}
.product_menu_tittle h1{
    font-size: 3rem;
}
.link_click_coffee li{
    padding: .3rem .9rem;
    border-radius: 10px;
    border: #00000069 1px solid;
}
.link_click_coffee li:hover{
    border: var(--primarycolor) 1px solid;
}
.product_pc_row{
    width: 95%;
    grid-template-columns: repeat(4, 1fr);
}
.product_menu_item{
    border: var(--primarycolor) 1px solid;
    border-radius: 3px;
    padding: .1rem;
    max-width: 200px;
    height: 330px;
}
.Product_Item_img{
    border-bottom: 1px solid #000000a4;
}
.Product_Item_img img{
    width: 200px;
    height: 150px;
}
.name-product h3{
    font-size: .9rem;
    height: 45px;
}
.name-product h5{
    font-size: .8rem;
}
.btn_add_cart a{
    background: #b975e7c9;
    padding: .2rem .5rem;
}
/* --------- Footer ----------- */
.row-footer-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}
.bot-footer{
    background-color: var(--primarycolor);
}